#header {
  background-color: white;
  border-bottom: 1px solid rgb(236, 235, 235);
}
.header div a i {
  font-size: 25px;
}
.anochor-tag {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.anochor-tag:hover {
  color: gray;
}
.anochor-tag p {
  font-weight: bold;
}
.post-comments {
  color: gray;
}
.time-post {
  font-size: 11px;
  color: gray;
}
.header div a img {
  width: 30px;
  border-radius: 50%;
}

.search-bar {
  border: 1px solid gray;
  border-radius: 9px;
  padding: 2px 7px;
  background-color: #ccc;
}
.search-bar input {
  border: 0px solid black;
  background-color: #ccc;
}
.search-bar i {
  color: rgb(109, 107, 107);
  transition: 1s all;
}
.search-bar input:focus {
  outline: none;
}
#my-x-search-icon {
  display: none;
}

.profile-post-photo {
  width: 40px;
  border-radius: 50%;
}
.profile-name-post,
.profile-name-post:hover {
  text-decoration: none;
  color: black;
}
.posts-div {
  border: 1px solid rgba(195, 193, 193, 0.486);
  margin-top: 10px;
  box-shadow: 1px 1px 5px rgba(224, 219, 219, 0.513);
}

.profile-rs-photo {
  border-radius: 50%;
  width: 50px;
}
#photos-div {
  position: relative;
}
.heart-by-bdlc {
  visibility: hidden;
  transition: all 1s;
}
.heart-by-bdlc i {
  color: white;
  position: absolute;
  font-size: 100px;
  top: 30%;
  left: 42%;
  opacity: 70%;
  z-index: 999999;
}
